.App{
    height: 100vh;
    width: auto;
    color: black;
}
.container{
    height: 100%;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

#editor{
    margin-top: 3.5rem;
    width: 50%;
    height: 92%;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 10px;
}
#iframe{
    margin-top: 3.5rem;
    margin-left: 0.1rem;
    width: 50%;
    height: 92%;
    border: 2px solid black;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .container{
        flex-direction: column;
    }
    #editor{
        width: 100%;
        margin-top: 2.5rem;
        border: 0;
    }
    #iframe{
        margin-top: 0;
        margin-left: 0;
        border-left: 0;
        border-top: 2px black solid;
        width: 100%;
    }
}

@media only screen and (max-width: 410px) {
    #editor{
        margin-top: 3.1rem;
    }
}